.title {
    text-align: center;
}

.calculator {
    width: 30%;
    margin: auto;
    padding-top: 2em;
}

.display-block {
    display: block;
}

.button {
    padding: 5px 0;
}

button {
    border-radius: 5px;
}